{:paths ["src" "resources"]
 :deps  {wing/wing           {:mvn/version "0.1.4"}
         russmatney/org-crud {:local/root "../org-crud"}
         russmatney/clawe    {:local/root "../clawe"}

         io.github.nextjournal/clerk {:mvn/version "0.11.603"}
         teknql/systemic             {:mvn/version "0.2.1"}
         aero/aero                   {:mvn/version "1.1.6"}
         juxt/dirwatch               {:mvn/version "0.2.5"}

         kkinnear/zprint  {:git/url "https://github.com/kkinnear/zprint"
                           :git/tag "1.2.5-alpha1"
                           :git/sha "15ea82a"}
         babashka/process {:git/url "https://github.com/babashka/process"
                           :git/tag "v0.3.11"
                           :git/sha "ff4085c"}

         djblue/portal              {:mvn/version "0.33.0"}
         com.kiranshila/cybermonday {:mvn/version "0.4.184"}
         flames/flames              {:mvn/version "0.4.0"}
         clj-time/clj-time          {:mvn/version "0.15.2"}}
 :aliases
 {:publish-all {:main-opts ["-m" "org-blog.publish"]}}}
